html,
body {
    margin: 0;
    padding: 0;
    background: #444444;
    text-align: left;
    -webkit-text-size-adjust: 100%;
    zoom: normal;
}


@font-face {
    font-family: "Hind";
    font-style: normal;
    font-weight: 400; src: local("Hind Regular"), local("Hind-Regular"), url("https://fonts.gstatic.com/s/hind/v8/5aU69_a8oxmIdGl4BA.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/**------------ DESIGN LOGO-------------- **/


.navigation-bar ul {
    padding: 5px;
    margin-bottom: 0px;
    text-align: right;
    float: right;
    font-size: 13.5px;
}

/* ------------- WHOLE LAYOUT OF THE PAGE------------------*/
.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > * {
    padding: 0px;
    flex: 1 100%;
}


.header {
    background: #344a71;
}

.footer {
    background: #444444;
    padding: 10px;
    /*flex: 1 100%;*/
    color: #ffffff;

}

.main {
    text-align: left;
    background: #ffff4d;
    padding-right: 280px;
    box-shadow: 0 0 15px #3f51b5;
}

.aside-1 {
    background:	#ffffff;
    width: 120px;
    box-shadow: 0 0 15px #3f51b5;
}

.aside-2 {
    background:	#ffffff;
    width: 120px;
    box-shadow: 0 0 15px #3f51b5;
}

@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0; }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}


/* ------------- NAVIGATION OF THE PAGE------------------*/


.navigation {
    list-style: none;
    margin: 0 auto;

    background: #344a71;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-end;


    padding: 10px;
    font-size: 10pt;
    text-align: right;
    float: right;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1.5em;
    color: #ffffff;
}

.navigation a:hover {
    background: #ffff00;
    color: #344a71;
}


/*--------- FOR SMALLER SCREENS----------*/
@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
    .navigation-logo {
        margin-right: 350px;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }


    .navigation a {
        text-align: center;
        padding: 10px;
    }


    .navigation li:last-of-type a {
        border-bottom: none;
    }

    .navigation-logo {
        margin-right: 150px;
    }
}

/****THE FORM OF THE PAGE CHECK IN, OUT, GUESTS, CODE*****/
#book_reservation {
    width: 900px;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-end;

    box-sizing: border-box;
}

/** Content of the page **/
input{
    height: 40px;
    background-color: #637ba5;
    margin: 0 auto;
    -moz-border-radius: 25px;
    border-radius: 10px;
    font-size: 13pt; /** Increase the placeholder size **/
    display: flex;
    color: #ffffff;
    border: 1px solid #ffffff;
}



/* Select */
select{
    background-color: #637ba5;
    border-radius: 10px;
    border: 1px solid #ffffff;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
}


a {
    color: #ffffff;
}

label{
    color: #444444;
    font-size: 14pt;
}

h1 {
    font-size: 25pt;
}

ul, li, a {
    list-style:none;
    font-family: "Cantarell Light", serif;
    font-style: inherit;
}

/* SUBMIT FORM */
button{
    text-align: center;
    display: flex;
    font-size: 14pt;
    padding: 15px 20px 15px 20px;
    color: #444444;
    background-color: ghostwhite;
    border: 1px solid #344a71;
    -moz-border-radius: 25px;
    border-radius: 10px;
}

span {
    color: #FF0000;
}


/*********** PLACE HOLDER COLOR ***/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #FFFFFF;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #FFFFFF;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #FFFFFF;
}
:-moz-placeholder { /* Firefox 18- */
    color: #FFFFFF;
}
/*********** PLACE HOLDER COLOR ***/
